/* styling for the login and register page 
=================================   =*/
#rentmyride-authentication .bg-banner-login {
  background-image: url("https://i.ibb.co/TBZJYHd/bg1-min.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#rentmyride-authentication .rentmyride-red {
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#rentmyride-authentication .bookingpopup-title {
  font-family: "Montserrat", sans-serif;
}

#rentmyride-authentication .coupon-code {
  border: dashed 2px #343434;
  display: inline-block;
  padding: 0;
  margin: 0;
  padding: 5px 10px;
  padding-bottom: 5px;
  padding-top: 7px;
  font-family: "Roboto", sans-serif;
  color: #343434;
}

#rentmyride-authentication .red-rentmyride-color {
  color: #ff0000;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
}
#rentmyride-authentication .booking-form-field {
  text-align: left;
}

#rentmyride-authentication .arimo-font {
  font-family: "Arimo", sans-serif;
}

#rentmyride-authentication .booking-form-field label {
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
#rentmyride-authentication .booking-form-field input {
  color: rgba(79, 80, 77, 0.7);
  font-family: "Arimo", sans-serif;
  border-radius: 2px;
  width: 100%;
  border: none;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}

#rentmyride-authentication .booking-form-field select {
  color: rgba(79, 80, 77, 0.7);
  font-family: "Arimo", sans-serif;
  border-radius: 2px;
  width: 100%;
  border: none;
  background: #fff;
  box-shadow: 0px 0px 2px rgb(0 0 0 / 50%);
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: hidden;
}
#rentmyride-authentication .bookingpopup-button {
  border: none;
  padding: 8px 25px;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  background-color: #ff0000;
  color: #fff;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
}
#rentmyride-authentication .bookingpopup-button:hover {
  background-color: lightgray;
  color: #212121;
}
#rentmyride-authentication .booking-info-paragraph {
  color: #838482;
  font-family: "Arimo", sans-serif;
}
#rentmyride-authentication .booking-info-paragraph a {
  color: #ff0000;
  font-weight: bold;
}
#rentmyride-authentication .booking-info-disclaimer {
  font-family: "Arimo", sans-serif;
  color: #4f504d;
  font-weight: bold;
}

#rentmyride-authentication .remember-me {
  color: #707070;
}

#rentmyride-authentication .have-an-account {
  color: #4f504d;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.diff-grey {
  color: #4f504d;
}

.full-height {
  min-height: 100vh;
}
#bg-banner {
  background-image: url("https://www.rentmyride.ae/Assets/images/Group-95.png");
  background-position: center;
  background-size: cover;
}
/* responsive styling for the popup */

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 1100px) {
  body {
  }
}

/*  registration authentication animairion */

.flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

/* ----------------------------------------------
   * Generated by Animista on 2020-12-15 16:50:47
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation flip-horizontal-bottom
   * ----------------------------------------
   */
@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
}
#login-container {
}
#rentmyride-authentication #register-container {
  display: none;
}

/* vertical flip animation */
.flip-in-ver-right {
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/* ----------------------------------------------
   * Generated by Animista on 2020-12-15 18:20:17
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

/**
   * ----------------------------------------
   * animation flip-in-ver-right
   * ----------------------------------------
   */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

.swing-in-right-fwd {
  -webkit-animation: swing-in-right-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-right-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
}

/* ----------------------------------------------
   * Generated by Animista on 2020-12-17 10:39:58
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */

@-webkit-keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}
@keyframes swing-in-right-fwd {
  0% {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    opacity: 1;
  }
}

/* styling for the user dashboard
=================================   =*/
.accountPage .leftSide {
  border-right: 1px solid #e0e0e0;
  padding-right: 0px;
  padding-top: 20px;
}
.accountPage .c100 span > img {
  border-radius: 90px;
}

.accountPage .leftSide .topdetaail h4 {
  font-size: 16px !important;
}
.accountPage .leftSide .topdetaail h4 {
  font-family: "Arimo", sans-serif !important;
  color: #4f504d !important;
  font-weight: 700 !important;
  line-height: 23px !important;
  font-size: 20px !important;
  margin: 0 auto !important;
  display: table !important;
}
.accountPage .leftSide .topdetaail p {
  margin: 0 auto !important;
  display: table !important;
  color: #4f504d !important;
  font-family: "Arimo", sans-serif !important;
  font-size: 15px;
}
.accountPage .leftSide ul {
  padding: 0px;
  list-style: none;
}
.accountPage .rightSide {
  padding: 10px 50px 0px !important;
}
.accountPage .rightSide h3 {
  font-size: 45px !important;
  line-height: 52px !important;
  font-weight: 700 !important;
  font-family: "Arimo", sans-serif !important;
  color: #4f504d !important;
  margin-top: 10px !important;
}
.cstm-edit {
  float: right;
  width: auto;
  border: 0px;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  display: inline-block;
  padding: 10px 53px;
  background: #f00;
  border-radius: 0px;
  position: relative;
  top: -10px;
}
.accountPage .rightSide h2 {
  font-size: 20px !important;
  margin-bottom: 23px !important;
  font-weight: 700 !important;
  font-family: "Arimo", sans-serif !important;
  color: #4f504d !important;
  line-height: 23px !important;
}

fieldset {
  border: 1px solid #d3d3d3;
  padding: 0px 5px 10px 10px;
  margin: 0 0 1.5em 0;
  border-radius: 3px;
  box-shadow: 0px 1px #d3d3d3;
}
legend {
  font-size: 15px;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  line-height: 17px;
  color: #4f504d;
  text-align: left;
  display: block;
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
  max-width: 100%;
  margin-bottom: 0.5rem;
  white-space: normal;
}
fieldset a,
fieldset span {
  text-decoration: none !important;
  color: #4f504d;
  font-size: 15px;
  font-weight: 400;
  font-family: "Arim0", sans-serif;
  opacity: 70%;
  word-break: break-all;
}
