/* styling for index page starts here */

.topBar {
    background: #4F504D;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding: 0px 80px;
    position: relative;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.topBar ul li {
    position: relative;
}
.topBar ul li {
    display: inline-block;
    margin-left: 20px;
    color: #fff;
}
.topBar ul li a {
    font-family: 'Arimo', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    text-decoration: unset;
}