.backbutton {
  height: 120px;
  background-color: white;
  z-index: 2;
  border: none;
  position: absolute;
  box-shadow: 0px 0px 8px -2px #ccc;
}
.backbutton svg {
  color: #f00;
  font-size: 20px;
}
.backbutton:hover {
  background-color: #f00;
}
.backbutton:hover svg {
  color: #fff;
}
